@model Product

<h1>Add New Product</h1>

<form asp-action="Create" method="post">
    <div>
        <label asp-for="name"></label>
        <input asp-for="name" />
    </div>
    <button type="submit">Add Product</button>
</form>
